{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Сайт мужского репутационного клуба">
    <meta name="author" content="Artem Shakurov - galavasteg@gmail.com">

    <!-- bootstrap theme -->
    <link href="{% static 'mrc/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'mrc/custom.min.css' %}" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" async="" src="{% static 'mrc/ga.js' %}"></script>

    {% block title %}<title>MEN'S REPUTATION CLUB</title>{% endblock %}

    <div class="col-lg-6">
      <h2 id="nav-tabs" ><a href="{{ index }}">MEN'S REPUTATION CLUB</a></h2>
        {% block menu %}{% include "mrc/nav.html" %}{% endblock %}
    </div>

  </head>

  <body>
    {% block page %}
      {% block content %}
        <h1>No content set</h1>
      {% endblock %}
    {% endblock %}
    <footer id="footer">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled">
            <li><a href="https://vk.com/mensrepclub">VK-группа</a></li>
            <li><a href="http://paveldomrachev.ru">Сайт основателя</a></li>
            <li><a href="https://vk.com/eqlab">Тренинговый центр</a></li>
          </ul>
          <p>Made by <a href="https://vk.com/ashakurov">Artem Shakurov</a>.</p>
          <p>All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>