<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="{{ index }}">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ rating }}">Рейтинг</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Отчеты</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
      <a class="dropdown-item" href="{{ reports }}">Все отчеты</a>
      <a class="dropdown-item" href="{{ new_report }}">Новый отчет</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ ruls }}">Правила</a>
  </li>
</ul>